<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>XiaoBaiSwitch Plus</string>
  <key>CFBundleDisplayName</key>
  <string>XiaoBaiSwitch Plus</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>com.github.licoy.xiaobai-switch.plus</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>xiaobaiswitchplus</string>
        <string>anyswitch</string>
        <string>xiaobaiswitch</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
